.container {
  background-color: var(--neutral1);
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 24px;
}

.intro {
  max-width: 936px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.years {
  display: flex;
  list-style: none;
  padding: 0 56px;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-primary);
}

.year {
  flex: 1 1 0;
  min-width: 0;
  padding: 20px 16px;
  cursor: pointer;
}
.year p {
  width: 100%;
  margin: 0;
  color: var(--text-secondary);
  font-weight: 300;
}

.activeYear {
  border-bottom: 2px solid var(--text-link-primary);
}
.activeYear p {
  color: var(--text-link-primary);
  font-weight: 400;
}

.activeTab {
  display: flex;
  gap: 48px;
  margin: 0 auto;
  justify-content: center;
}

.arrowDiv {
  width: 24px;
  display: flex;
  align-items: center;
}

.arrow {
  cursor: pointer;
}
.arrow:hover {
  color: var(--text-link-primary);
}

.backArrow {
  rotate: 180deg;
  cursor: pointer;
}
.backArrow:hover {
  color: var(--text-link-primary);
}

.card {
  background-color: var(--inverse);
  color: var(--background);
  width: 744px;
  border-radius: 16px;
  padding: 32px;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.quote {
  padding-bottom: 24px;
}
.author {
  padding-bottom: 8px;
  letter-spacing: 0px;
}

@media (max-width: 1024px) {
  .card {
    margin: 0 20px;
    width: 80%;
  }
  .arrowDiv {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 48px 0;
    gap: 32px;
  }
  .intro {
    gap: 8px;
    padding: 0 20px;
  }
  .intro p {
    text-align: left;
  }
  .desktopBr {
    display: none;
  }
  .years {
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0;
    scrollbar-width: none;
    padding-left: 52px;
  }
  .years::-webkit-scrollbar {
    display: none;
  }
  .year {
    flex: 0 0 auto;
    padding: 12px 16px;
  }
  .year p {
    font-size: 14px;
  }
  .card {
    margin: 0 20px;
    width: 100%;
    padding: 16px;
  }
  .cardTitle {
    padding-bottom: 24px;
  }
  .quote {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 16px;
  }
  .author {
    font-size: 16px;
    padding-bottom: 4px;
  }
}

@media (hover: hover) {
  .activeYear:hover {
    background-color: var(--primary-hover);
  }
}
