.container {
  background-color: var(--neutral1);
  padding: 56px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.intro {
  max-width: 936px;
  margin: 0 auto;
  text-align: center;
}

.timeline {
}

.years {
  display: flex;
  list-style: none;
  padding: 0 56px;
}

.years li {
  min-width: 80px;
  max-width: 240px;
}
