.hero {
  background-color: var(--inverse);
  color: var(--header-foreground);
  text-align: center;
  padding: 56px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.eyebrow {
  font-family: var(--sans-serif-stack);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 22px;
}

.content {
  max-width: 600px;
  margin: 56px auto 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.logoBlock {
  position: relative;
  height: 100px;
  overflow: hidden;
  margin-bottom: 100px;
}

.logoBlock p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 125px;
  line-height: 1;
  color: black;
  -webkit-text-stroke: 4px white;
}

.logoBlock span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--foreground);
  -webkit-text-stroke: 6px white;
  paint-order: stroke fill;
  white-space: nowrap;
  z-index: 1;
  font-size: 28px;
}

/* Mobile */

@media (max-width: 768px) {
  .eyebrow {
    font-size: 12px;
    line-height: 16px;
  }

  .content {
    width: 100%;
    padding: 0 20px;
    margin: 32px auto 48px;
    gap: 48px;
  }

  .logoBlock {
    margin-bottom: 80px;
  }
  .logoBlock p {
    font-size: 100px;
  }
  .logoBlock span {
    font-size: 24px;
  }
}
